{% extends "layout.html" %}

{% block title %}Edit Profile | {{ super }}{% endblock %}

{% load static from staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/combodate.min.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Edit {{ user.username.title }}'s Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Save changes</button>
</form>
<p><a href="{% url 'accounts:change_password' username=request.user.username %}">Change password</a></p>
{% endblock %}